build/
win-build/
linux-build/
bin/
thirdparty/protobuf-22.1/win-install/
thirdparty/protobuf-22.1/win-build/
thirdparty/protobuf-22.1/linux-install/
thirdparty/protobuf-22.1/linux-build/
thirdparty/mongo-c-driver-1.23.3/win-install/
thirdparty/mongo-c-driver-1.23.3/win-build/
thirdparty/mongo-c-driver-1.23.3/linux-install/
thirdparty/mongo-c-driver-1.23.3/linux-build/
thirdparty/hiredis-1.1.0/win-install/
thirdparty/hiredis-1.1.0/win-build/
thirdparty/hiredis-1.1.0/linux-install/
thirdparty/hiredis-1.1.0/linux-build/